#!/usr/bin/make -f

export DEB_BUILD_OPTIONS="nostrip"

export DH_VERBOSE=1

%:
	dh $@ --with nginx --with python_virtualenv

override_dh_virtualenv:
	dh_virtualenv --pypi-url http://pypi.yandex-team.ru/simple

override_dh_usrlocal:
